{
  "extends": ["airbnb", "plugin:meteor/recommended"],
  "parser": "babel-eslint",
  "parserOptions": {
    "allowImportExportEverywhere": true
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "plugins": [
    "meteor"
  ],
  "settings": {
    "import/resolver": "meteor"
  },
  "globals": {
    "_": false,
    "$": false,
    "document": false,
    "alert": false
  },
  "rules": {
    "import/extensions": ["off", "never"],
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/label-has-for": 0,
    "meteor/no-session": 0,
    "no-underscore-dangle": ["error", {"allow": ["_id"]}],
    "no-param-reassign": 0,
    "no-return-await": 0,
    "quotes": [2, "single", "avoid-escape"],
    "react/jsx-filename-extension": [1, {"extensions": [".js", ".jsx"]}],
    "react/jsx-no-bind": 0,
    "react/no-string-refs": 0,
    "react/require-default-props": 0,
    "react/no-typos": 0,
    "semi": ["error", "never"],
    "func-names": ["off"],
  }
}
